// *** Variables *** //
$dotColor: #F7600F;
$projectsH1: white;

// *** Main Styles *** //
body {
  .dot {
    color: $dotColor;
  }
  #about {
    padding: 60px 0;
  }
  #projects {
    padding: 60px 0;
    background: url("../img/bg/5_region_3.jpg");
    h1 {
      margin: 0 0 60px;
      color: $projectsH1;
    }
    .card-deck-wrapper {
      padding: 0 15px;
      .card-deck {
        .card {
          border: none;
          transition: all 0.3s ease;
          &:hover {
            box-shadow: 0 15px 20px 1px rgba(0,0,0,0.3);
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .row:nth-of-type(2) {
      margin-bottom: 50px;
    }
  }
  #music {
    padding: 60px 0;
    background: #F5F5F5;
    h1 {
      margin: 0 0 60px;
    }
    .music-site {
      padding: 0;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 20px 1px rgba(0,0,0,0.3);
      }
    }
  }
}