@media (max-width: 1730px) {
  html {
    body {
      #bio {
        background: url("../img/splash-4-vertical.jpg") no-repeat -10% 20%/35%;
      }
      #video {
        background: url("../img/splash-4-vertical2.jpg") no-repeat 100% -658px/35%;
      }
    }
  }
}

@media (width: 1440px) {
  html {
    body {
      #video {
        background: url("../img/splash-4-vertical2.jpg") no-repeat 100% -676px/35%;
      }
    }
  }
}

@media (width: 1366px) {
  html {
    body {
      #video {
        background: url("../img/splash-4-vertical2.jpg") no-repeat 100% -683px/35%;
      }
    }
  }
}

@media (max-width: 1024px) {
  html {
    body {
      #bio {
        background: none;
      }
    }
  }
}