@import "variables";

html {
  ::-webkit-scrollbar {
    background: $scrollBackground;
  }
  ::-webkit-scrollbar-thumb {
    background: $scrollThumb;
  }
  ::-webkit-scrollbar-corner {
    background: $scrollCorner;
  }
  body {
    background: $bodyBackground;
    a {
      color: $textSecondary;
      text-decoration: none;
      &:hover,
      &:active {
        color: darken($textSecondary, 10%);
        text-decoration: none;
      }
    }
    h1 {
      font-family: "Bangers", cursive;
      color: $h1Primary;
      font-size: 8em;
    }
    #bio {
      background: url("../img/splash-4-vertical.jpg") no-repeat -3% 20%/35%;
      #technimatic-logo {
        margin-top: 100px;
        margin-bottom: 100px;
      }
      p {
        color: $textPrimary;
        text-align: justify;
      }
      .row:nth-of-type(1) {
        margin: 0 20px;
      }
      .row:nth-of-type(2),
      .row:nth-of-type(3) {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 100px;
      }
    }
    #audio {
      display: flex;
      padding-bottom: 100px;
      background: url("../img/splash-4-vertical2.jpg") no-repeat 100% -10%/35%;
      .row {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
      }
      #flexy {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
        iframe {
          flex-basis: 20%;
          padding: 10px;
        }
      }
    }
    #video {
      display: flex;
      padding-bottom: 100px;
      background: url("../img/splash-4-vertical2.jpg") no-repeat 100% -646px/35%,
      url("../img/splash-6_reverted.jpg") no-repeat 0 340px/55%;
      .row {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        .header {
          order: 2;
        }
        .col-sm-6 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    #credits {
      padding-bottom: 10px;
      background: url("../img/splash-6_reverted.jpg") no-repeat 0 -419px/55%;
      hr {
        border-color: $textPrimary;
      }
      p {
        font-family: "Homemade Apple", cursive;
        color: $textPrimary;
        img {
          width: 20px;
        }
      }
    }
  }
}

@import "media-rules";